@model WebApplication4.Models.TacGia

@{
    ViewBag.Title = "Xoa";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h3 style="color:red">Bạn có chắc chắn muốn xóa tác giả này không ?</h3>
<div>
    <h4>Tác giả</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaTacGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaTacGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenTacGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTacGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TieuSu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuSu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay trở về", "Index")
        </div>
    }
</div>
