@using PagedList;
@using PagedList.Mvc;


@model PagedList.PagedList<WebApplication4.Models.ChuDe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2 style="color:red">Quản lý chủ đề</h2>

<p>
    @Html.ActionLink("Thêm mới", "ThemMoi")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().MaChuDe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TenChuDe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaChuDe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenChuDe)
        </td>
        <td>
            @Html.ActionLink("Sửa", "ChinhSua", new { @MaChuDe = item.MaChuDe }) |
            @Html.ActionLink("Hiển Thị", "HienThi", new { @MaChuDe = item.MaChuDe }) |
            @Html.ActionLink("Xóa", "Xoa", new { @MaChuDe = item.MaChuDe })
    </tr>
}

</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
