<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*Chèn file css javarscript*@
    <link href="~/Content/TemplateAdmin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/TemplateAdmin/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/TemplateAdmin/css/style.css" rel="stylesheet" />
    <link href="~/Content/TemplateAdmin/css/style-responsive.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    @*Chèn scriptEditor*@
    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>
    @*chèn file scirptEditer*@
    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({selector:'textarea'})</script>
</head>
<body>
    <!-- start: Header -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="@Url.Action("Index","QuanLySanPham")"><i class="fa fa-book"></i><span>               Trang chủ</span></a>
                <div style="float:left; margin-top:10px;">
                    @using (Html.BeginForm("KetQuaTimKiemAdmin", "TimKiem", FormMethod.Post))
                    {
                        @Html.TextBox("txtTKiem", "", htmlAttributes: new { @class = "TextBoxTimKiem", @placeholder = "Nhập vào từ khóa cần tìm ..." })
                        @*Chèn vào image button hình ảnh*@
                        <div style="float:right;margin-bottom:5px;">
                            <button type="submit"><img src="~/HinhAnh/imgSearch.png" width="30" height="30"/> </button>
                        </div>
                    }

                </div>

                <!-- start: Header Menu -->
                <div class="nav-no-collapse header-nav">
                    <ul class="nav pull-right">
                        <li class="dropdown hidden-phone">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="halflings-icon white warning-sign"></i>
                            </a>
                            <ul class="dropdown-menu notifications">
                                <li class="dropdown-menu-title">
                                    <span>You have 11 notifications</span>
                                    <a href="#refresh"><i class="icon-repeat"></i></a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon blue"><i class="icon-user"></i></span>
                                        <span class="message">New user registration</span>
                                        <span class="time">1 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon green"><i class="icon-comment-alt"></i></span>
                                        <span class="message">New comment</span>
                                        <span class="time">7 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon green"><i class="icon-comment-alt"></i></span>
                                        <span class="message">New comment</span>
                                        <span class="time">8 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon green"><i class="icon-comment-alt"></i></span>
                                        <span class="message">New comment</span>
                                        <span class="time">16 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon blue"><i class="icon-user"></i></span>
                                        <span class="message">New user registration</span>
                                        <span class="time">36 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon yellow"><i class="icon-shopping-cart"></i></span>
                                        <span class="message">2 items sold</span>
                                        <span class="time">1 hour</span>
                                    </a>
                                </li>
                                <li class="warning">
                                    <a href="#">
                                        <span class="icon red"><i class="icon-user"></i></span>
                                        <span class="message">User deleted account</span>
                                        <span class="time">2 hour</span>
                                    </a>
                                </li>
                                <li class="warning">
                                    <a href="#">
                                        <span class="icon red"><i class="icon-shopping-cart"></i></span>
                                        <span class="message">New comment</span>
                                        <span class="time">6 hour</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon green"><i class="icon-comment-alt"></i></span>
                                        <span class="message">New comment</span>
                                        <span class="time">yesterday</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon blue"><i class="icon-user"></i></span>
                                        <span class="message">New user registration</span>
                                        <span class="time">yesterday</span>
                                    </a>
                                </li>
                                <li class="dropdown-menu-sub-footer">
                                    <a>View all notifications</a>
                                </li>
                            </ul>
                        </li>
                        <!-- start: Notifications Dropdown -->
                        <li class="dropdown hidden-phone">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="halflings-icon white tasks"></i>
                            </a>
                            <ul class="dropdown-menu tasks">
                                <li class="dropdown-menu-title">
                                    <span>You have 17 tasks in progress</span>
                                    <a href="#refresh"><i class="icon-repeat"></i></a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="header">
                                            <span class="title">iOS Development</span>
                                            <span class="percent"></span>
                                        </span>
                                        <div class="taskProgress progressSlim red">80</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="header">
                                            <span class="title">Android Development</span>
                                            <span class="percent"></span>
                                        </span>
                                        <div class="taskProgress progressSlim green">47</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="header">
                                            <span class="title">ARM Development</span>
                                            <span class="percent"></span>
                                        </span>
                                        <div class="taskProgress progressSlim yellow">32</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="header">
                                            <span class="title">ARM Development</span>
                                            <span class="percent"></span>
                                        </span>
                                        <div class="taskProgress progressSlim greenLight">63</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="header">
                                            <span class="title">ARM Development</span>
                                            <span class="percent"></span>
                                        </span>
                                        <div class="taskProgress progressSlim orange">80</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-menu-sub-footer">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        <!-- end: Notifications Dropdown -->
                        <!-- start: Message Dropdown -->
                        <li class="dropdown hidden-phone">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="halflings-icon white envelope"></i>
                            </a>
                            <ul class="dropdown-menu messages">
                                <li class="dropdown-menu-title">
                                    <span>You have 9 messages</span>
                                    <a href="#refresh"><i class="icon-repeat"></i></a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="avatar"><img src="img/avatar.jpg" alt="Avatar"></span>
                                        <span class="header">
                                            <span class="from">
                                                Dennis Ji
                                            </span>
                                            <span class="time">
                                                6 min
                                            </span>
                                        </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="avatar"><img src="img/avatar.jpg" alt="Avatar"></span>
                                        <span class="header">
                                            <span class="from">
                                                Dennis Ji
                                            </span>
                                            <span class="time">
                                                56 min
                                            </span>
                                        </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="avatar"><img src="img/avatar.jpg" alt="Avatar"></span>
                                        <span class="header">
                                            <span class="from">
                                                Dennis Ji
                                            </span>
                                            <span class="time">
                                                3 hours
                                            </span>
                                        </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="avatar"><img src="img/avatar.jpg" alt="Avatar"></span>
                                        <span class="header">
                                            <span class="from">
                                                Dennis Ji
                                            </span>
                                            <span class="time">
                                                yesterday
                                            </span>
                                        </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="avatar"><img src="img/avatar.jpg" alt="Avatar"></span>
                                        <span class="header">
                                            <span class="from">
                                                Dennis Ji
                                            </span>
                                            <span class="time">
                                                Jul 25, 2012
                                            </span>
                                        </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-menu-sub-footer">View all messages</a>
                                </li>
                            </ul>
                        </li>
                        <!-- end: Message Dropdown -->
                        <li>
                            <a class="btn" href="#">
                                <i class="halflings-icon white wrench"></i>
                            </a>
                        </li>
                        <!-- start: User Dropdown -->
                        <li class="dropdown">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="halflings-icon white user"></i> Dennis Ji
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-menu-title">
                                    <span>Account Settings</span>
                                </li>
                                <li><a href="#"><i class="halflings-icon user"></i> Profile</a></li>
                                <li><a href="login.html"><i class="halflings-icon off"></i> Logout</a></li>
                            </ul>
                        </li>
                        <!-- end: User Dropdown -->
                    </ul>
                </div>
                <!-- end: Header Menu -->

            </div>
        </div>
    </div>
    <!-- start: Header -->

    <div class="container-fluid-full">
        <div class="row-fluid">

            <!-- start: Main Menu -->
            <div id="sidebar-left" class="span2">
                <div class="nav-collapse sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked main-menu">
                        <li>
                            <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Quản lý sản phẩm</span><span class="label label-important"> 5 </span></a>
                            <ul>
                                <li><a class="submenu" href="@Url.Action("Index","QuanLySanPham")"><i class="icon-file-alt"></i><span class="hidden-tablet"> Quản lý sách</span></a></li>
                                <li><a class="submenu" href="@Url.Action("Index","QuanLyNXB")"><i class="icon-file-alt"></i><span class="hidden-tablet"> Quản lý nhà xuất bản</span></a></li>
                                <li><a class="submenu" href="@Url.Action("Index","QuanLyChuDe")"><i class="icon-file-alt"></i><span class="hidden-tablet"> Quản lý chủ đề</span></a></li>
                                <li><a class="submenu" href="@Url.Action("Index","QuanLyTacGia")"><i class="icon-file-alt"></i><span class="hidden-tablet"> Quản lý tác giả</span></a></li>
                                <li><a class="submenu" href="@Url.Action("Index","QuanLyKhachHang")"><i class="icon-file-alt"></i><span class="hidden-tablet"> Quản lý khách hàng</span></a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("Index","QuanLySanPham")"><i class="icon-align-justify"></i><span class="hidden-tablet"> Quản lý sách</span></a></li>
                        <li><a href="@Url.Action("Index","QuanLyNXB")"><i class="icon-align-justify"></i><span class="hidden-tablet"> Quản lý nhà xuất bản</span></a></li>
                        <li><a href="@Url.Action("Index","QuanLyChuDe")"><i class="icon-align-justify"></i><span class="hidden-tablet"> Quản lý chủ đề</span></a></li>
                        <li><a href="@Url.Action("Index","QuanLyTacGia")"><i class="icon-align-justify"></i><span class="hidden-tablet"> Quản lý tác giả</span></a></li>
                        <li><a href="@Url.Action("Index","QuanLyKhachHang")"><i class="icon-align-justify"></i><span class="hidden-tablet">Quản lý khách hàng</span></a></li>
                        <li><a href="@Url.Action("Index","QuanLyDonHang")"><i class="icon-align-justify"></i><span class="hidden-tablet">Quản lý đơn hàng</span></a></li>
                        <li><a href="@Url.Action("Index","QuanLyChiTietDonHang")"><i class="icon-align-justify"></i><span class="hidden-tablet">Quản lý chi tiết đơn hàng</span></a></li>
                        <li><a href="@Url.Action("DoanhThu","QuanLyDonHang")"><i class="icon-align-justify"></i><span class="hidden-tablet">Quản lý doanh thu</span></a></li>

                        <li>
                            <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Quản lý hình ảnh</span><span class="label label-important"> 2 </span></a>
                            <ul>
                                <li><a class="submenu" href="@Url.Action("Index","QuanLyHinhAnh")"><i class="icon-file-alt"></i><span class="hidden-tablet"> Quản lý hình ảnh không</span></a></li>
                                <li><a class="submenu" href="@Url.Action("HienThiNguoiDung","QuanLyHinhAnh")"><i class="icon-file-alt"></i><span class="hidden-tablet"> Quản lý đầy đủ về sách</span></a></li>
                            </ul>
                        </li>
                        
                        <li><a href="@Url.Action("Thoat","NguoiDung")"><i class="icon-lock"></i><span class="hidden-tablet">Thoát đăng nhập</span></a></li>
                    </ul>
                </div>
            </div>
            <!-- end: Main Menu -->

            <noscript>
                <div class="alert alert-block span10">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                </div>
            </noscript>

            <!-- start: Content -->
            <div id="content" class="span10">

                @RenderBody()

            </div><!--/.fluid-container-->
            <!-- end: Content -->
        </div><!--/#content.span10-->
    </div><!--/fluid-row-->

    <div class="clearfix"></div>

    <footer>

        

    </footer>

    <!-- start: JavaScript-->

    <script src="~/Content/TemplateAdmin/js/jquery-1.9.1.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery-migrate-1.0.0.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery-ui-1.10.0.custom.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.ui.touch-punch.js"></script>

    <script src="~/Content/TemplateAdmin/js/modernizr.js"></script>

    <script src="~/Content/TemplateAdmin/js/bootstrap.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.cookie.js"></script>

    <script src='~/Content/TemplateAdmin/js/fullcalendar.min.js'></script>

    <script src='~/Content/TemplateAdmin/js/jquery.dataTables.min.js'></script>

    <script src="~/Content/TemplateAdmin/js/excanvas.js"></script>
    <script src="~/Content/TemplateAdmin/js/jquery.flot.js"></script>
    <script src="~/Content/TemplateAdmin/js/jquery.flot.pie.js"></script>
    <script src="~/Content/TemplateAdmin/js/jquery.flot.stack.js"></script>
    <script src="~/Content/TemplateAdmin/js/jquery.flot.resize.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.chosen.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.uniform.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.cleditor.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.noty.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.elfinder.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.raty.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.iphone.toggle.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.uploadify-3.1.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.gritter.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.imagesloaded.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.masonry.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.knob.modified.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.sparkline.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/counter.js"></script>

    <script src="~/Content/TemplateAdmin/js/retina.js"></script>

    <script src="~/Content/TemplateAdmin/js/custom.js"></script>
    <!-- end: JavaScript-->

</body>
</html>


